/*General Styles*/

p {
    font-weight: bold;
}



h1 {
    color: #5B61FF;
}
/*Login Page*/

.login-page {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}
.login-form {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;

}

.login-form input {
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

.login-form button {
    border: 2px solid green; 
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}


/*Signup Page*/

.signup-form {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;

}

.signup-form input {
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

.signup-form button {
    border: 2px solid green; 
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

/*Navigation Page*/

.navigation-page {
    border-bottom: 3px solid #5B61FF;
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin: 20px;
}

.navigation-links {
    text-decoration: none;
    margin: 10px;
}