/*General Styles*/

p {
    font-weight: bold;
}



h1 {
    color: #5B61FF;
}
/*Login Page*/

.login-page {
    display: flex;
    justify-content: center;
    
}

.login-form {
    border: 2px solid black;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    height: 350px;
    border-radius: 5px;

}

.login-form input {
    border: 2px solid  #5B61FF;
    margin: 2px 15px 25px 15px;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 30px;

}

.login-form button {
    border: 2px solid  darkgray; 
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    margin-left: 95px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color:  #5B61FF;

}

.login-form h4 {
    margin-left: 15px;
}

/*Signup Page*/

.signup-form {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;

}

.signup-form input {
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

.signup-form button {
    border: 2px solid black; 
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

/*Navigation Page*/

.navigation-page {
    border-bottom: 3px solid #5B61FF;
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.navigation-links {
    text-decoration: none;
    margin: 10px;
}